<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AFCB</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/favicon/favicon.ico"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/favicon/favicon-16x16.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/favicon/apple-touch-icon.png"
        />
        <link rel="manifest" href="/static/site.webmanifest" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body class="bg-gray-100">
        <nav class="bg-white shadow-md">
            <div class="container mx-auto px-4">
                <div class="flex justify-between items-center py-4">
                    <div class="flex items-center">
                        <h1 class="text-2xl font-bold text-blue-600">AFcb</h1>
                    </div>
                    <div class="flex items-center space-x-4">
                        <a href="/" class="text-blue-600 font-semibold"
                            >Contacts</a
                        >
                        <a
                            href="/companies-page"
                            class="text-gray-600 hover:text-blue-600"
                            >Companies</a
                        >
                        <div class="relative">
                            <input
                                type="search"
                                name="q"
                                placeholder="Search contacts..."
                                class="pl-10 pr-4 py-2 rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-64"
                                hx-get="/search"
                                hx-trigger="keyup changed delay:500ms, search"
                                hx-target="#contact-list"
                                hx-swap="innerHTML"
                            />
                            <div class="absolute left-3 top-2.5 text-gray-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <a
                            href="/logout"
                            class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700"
                        >
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <main class="container mx-auto px-4 py-8">
            <!-- Contacts Section -->
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-3xl font-bold text-gray-800">All Contacts</h2>
                <button
                    class="bg-blue-600 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition-colors duration-300"
                    hx-get="/modal/add"
                    hx-target="#modal-container"
                    hx-swap="innerHTML"
                >
                    Add Contact
                </button>
            </div>
            <div
                id="contact-list"
                class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
                hx-get="/contacts"
                hx-trigger="load"
                hx-swap="innerHTML"
            ></div>
        </main>
        <div id="modal-container"></div>
        <script src="/static/script.js"></script>
    </body>
</html>
